python-dotenv==1.0.1
wfdb==4.2.0
numpy==2.2.3
scikit-learn==1.6.1
pandas==2.2.3
torch==2.6.0
torchvision==0.21.0
matplotlib==3.10.0
neurokit2==0.2.10
tqdm==4.67.1
lightning[extra]==2.5.0.post0
tensorboard==2.19.0
flwr[simulation]==1.15.2
flwr-datasets==0.5.0
wandb==0.19.7
plotly==6.0.0
nbformat==5.10.4
pywavelets==1.8.0